<div class="navigace">
<ul>
  <li>
    <img class="homebtn" src="https://i.ya-webdesign.com/images/home-png-black-icon-5.png">
  </li>
  <li>
    <a routerLink="/home">Home</a>
  </li>
  <li>  
  <a routerLink="/aboutus#content" routerLinkActive="unactive">About Us</a>
</li>
<li>  
  <a routerLink="/shop">Shop</a>

</li>
<li class="whiteclr">
    <a href="">Login</a>
  </li>
</ul>

</div>

<div id="banner">
  <div class="layer">

  </div>
  
  <h1 id="banner_title">Psychadelic World</h1></div>
<router-outlet>
</router-outlet>
