<h1 class="title">Psychadelic Shop</h1>
<div id="shop-content">

<div  id="oneplsd" class="shop-item">
    <div class="item-title-bar">
        <p class="item-title" >1P-LSD - 10$</p>
    </div>
    <button class="buyBtn">
    Buy
    </button>
</div>

<div  id="oneplsd" class="shop-item">
    <div class="item-title-bar">
        <p class="item-title" >1P-LSD - 10$</p>
    </div>
    <button class="buyBtn">
    Buy
    </button>
</div>

<div  id="oneplsd" class="shop-item">
    <div class="item-title-bar">
        <p class="item-title" >1P-LSD - 10$</p>
    </div>
    <button class="buyBtn">
    Buy
    </button>
</div>

<div  id="oneplsd" class="shop-item">
    <div class="item-title-bar">
        <p class="item-title" >1P-LSD - 10$</p>
    </div>
    <button class="buyBtn">
    Buy
    </button>
</div>

</div>